<h1>Contacts</h1>

<form action='/' method='get'>
  <input type='search' name='query'>
  <input type='submit' value='Search'>
</form>



<ul>
  <% @contacts.each do |contact| %>
    <li><%= contact.name %> - <%= contact.phone_number %></li>
  <% end %>
</ul>
