<form action = "/new" method - "post">
<h1> New Person? </h1>
<p>First Name <input type = "text" id = "first_name"/></p>
<p>Last Name <input type = "text" id = "last_name"/></p>
<p>Phone Number <input type = "text" id = "phone_number"/></p>
</form>
